
body {
  height: 100vh;
  background: linear-gradient(to bottom, #D6ECFF, #A8D8FF, #FFFFFF);
}

h1 {
  margin-left: 250px;
  font-size: 4.2em;
  line-height: 1.1;
}

p{
  margin-left: 250px;
  font-size: 2em;
  opacity: 0.8;
  line-height: 1.1;
  margin-top: -20px;
}

.navbar {
  background: linear-gradient(to right, #D6ECFF, #D6ECFF); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  
}
