.navbar {
  background-color: #244c44;
  position: sticky;
  top: 0;
  z-index: 20;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #f3f0f0;
  font-weight: bold;
  font-size: 1.05em;
}

.nav-logo {
  text-decoration: none;
  color: #f3f0f0;
  font-weight: bold;
}